@page "/"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using System.Collections.Generic

@inject IEmployeeData _db

<PageTitle>Index</PageTitle>

<h1>Employee Management Portal</h1>

@if(payment is null)
{
    <p><em>Loading...</em></p>
}
else
{
        <table class="table table-striped">
        <thead>
            <tr>
                <td>Top Salary</td>
            </tr>
            <tr>
                <th>Employee ID</th>
                <th>Payment Type</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var pay in payment)
            {
                <tr>
                    <td>@pay.EmployeeID</td>
                    <td>@pay.PaymentType</td>
                    <td>@pay.Rate</td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    private List<PaymentModel> ?payment;

    protected override async Task OnInitializedAsync()
    {
        payment = await _db.GetAllPayment();
        payment = payment.OrderByDescending(x => x.Rate).Take(1).ToList();
    }
}
